.add_address_form{
	background-color: white;
	width: 100%;
	font-size: 0.3rem;
}

.add_address_form input{
	padding-left: 0.1px;
	border: none;
	margin-left: 0.1rem;
	outline: none;
}

.add_address_form a{
	display: inline-block;
	border:1px solid rgba(0,0,0,0.1);
	text-align: center;
	font-size: 0.2rem;
	color: gray;
	padding:0.1rem 0.3rem;
	border-radius: 5px;
	margin-left: 0.2rem;

}

.add_address_form label{
	/*width: 100%;*/
	display: block;
	/*padding-left: 0.1rem;*/
	font-weight: 700;
	font-size: 0.26rem;
	padding: 0.2rem 0 0.2rem 0.2rem;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.add_address_form span{
	display: inline-block;
	width: 1rem;
/*	height: 1rem;*/
}

.add_address_yes{	
	width: 100%;
	text-align: center;
	margin-top: 0.2rem;
}

.add_address_yes a{
	display: inline-block;
	background-color: #00d762;
	border-radius: 5px;
	color: white;
	text-align: center;
	width: 4rem;
	height: 0.8rem;
	font-size: 0.4rem;
	line-height: 0.8rem;
}
