/*常用*/

body,div,html,h1,h2,h3,h4,h5,h6,p,span,img,ul,li,input,form,label{
	margin: 0px;
	padding: 0px;
}

.clear{
	clear: both;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.shadow{
	box-shadow: 0rem 0rem 0.1rem;
}

ul{
	list-style-type: none;
	text-decoration: none;
}

body{
	background-color: #f5f5f5;
	font-family: 微软雅黑;
}

a{
	text-decoration-line: none;
}

/*常用*/



/*底部菜单*/
footer{
	width: 100%;
	background-color: white;
	padding: 0.2rem 0;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	font-size: 0.1rem;
}

.footer_box{
	height: 1rem;
	padding: 0.4rem 0.2rem;
	text-align: center;
}
/*底部菜单*/