.phone_form{
	padding: 0.2rem 0rem;
	background-color: white;
}

.phone_form label{
	display: block;
	padding: 0rem 0.2rem;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative;

}


.phone_form input{
	width:2.8rem;
	height: 1rem;
	padding-left: 0.2rem;
	font-size: 0.3rem;
	border: none;
	outline: none;
}

.phone_form span{
	font-size: 0.3rem;
}

.phone_form a{
	width: 1.4rem;
	height: 0.6rem;
	color: white;
	background-color: #0097ff;
	font-size: 0.2rem;
	line-height: 0.6rem;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	position: absolute;
	top: 0.7rem;
	right: 0.2rem;
}

